{% extends "base.html" %}

{% block title %}{{task.reference}} - Update{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">Edit Task</h1>
        <form action="/tasks/{{task.id}}/update" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title }}
            </div>
            <div class="form-group py-4">
                {{ form.status.label }}
                {{ form.status }}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description }}
            </div>
            <div class="text-center pt-2">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}